@model  BTLWebASP.Models.LoaiHang

@{
    ViewBag.Title = "Create";
}

<h4 style="margin-left:15px">THÊM LOẠI HÀNG MỚI</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="maLoai" name="maLoai" class="form-control" value="@Model.MaLoai" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenLoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="tenLoai" name="tenLoai" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhLoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="HinhLoai" name="HinhLoai" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="background-color:#4e73df; color:white" type="submit" name="cal" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div >
    <a href="Index">
        Quay lại danh sách
    </a>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



