@model IEnumerable<BTLWebASP.Models.SanPham>
@{
    ViewBag.Title = "Delete";
}

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongCon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @{
                        string linkImgProduct = item.HinhSP + ".jpg";
                    }
                    <img src="~/Assets/client/images/product/@linkImgProduct" style="height:100px; width:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongCon)
                </td>
                <td>
                    @{
                        string[] a = item.Mota.ToString().Split(new string[] { " " }, StringSplitOptions.None);
                        string tam = "";
                        if (a.Length < 12)
                        {
                            tam = item.Mota;
                        }
                        else
                        {
                            for (int i = 0; i < 7; i++)
                            {
                                tam += a[i] + " ";
                            }
                            tam += "...";

                        }
                    }
                    <div title="@item.Mota">
                        @tam
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_at)
                </td>
                <td>
                    @Html.ActionLink("Xóa", "DeleteProduct", new { maSanPham = item.MaSP, maLoai = item.MaLoai, tenSanPham = item.TenSP, hinhAnh = item.HinhSP, dvt = item.DVT, trangThai = item.MType, soLuong = item.SoLuong, soLuongCon = item.SoLuongCon, moTa = item.Mota })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href="Index">
        Quay lại danh sách
    </a>
</div>

@section scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/Assets/admin/js/jquery-dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}